
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="#navbar1" data-bs-spy="scroll" data-bs-target="#navbar1" >
    
    <div class="container-fluid logo">
    <a class="navbar-brand font-weight-bold" href="#home">{{logo}}</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcollapse" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
  <div class="collapse navbar-collapse" id="navbarcollapse" >
      <ul class="navbar-nav justify-content-center ml-auto mt-1 mb-1 me-3">
          <li class="nav-item">
          <a class="nav-link px-lg-4" href="#home">Home</a></li>
          <li class="nav-item">
            <a class="nav-link px-lg-4" href="#about" >About</a></li>
          <li class="nav-item"><a class="nav-link px-lg-4" href="#mywork">MyWork</a></li>
          <li class="nav-item"><a class="nav-link px-lg-4" href="#skills">Skills</a></li>
          <li class="nav-item"><a class="nav-link px-lg-4" href="#contact">Contact</a></li>
          <button type="button" class="btn1 btn btn-danger px-lg-4">Resume</button>
        </ul>
    </div> 
   
  </nav>