nav{
    border-bottom:2px solid #2a3e4b;
    cursor: pointer;
}


.logo a{
    font-family: cursive;
    font-size: 30px;
    padding: 0;
    color: #fff;
    /* clip-path: inset(0 round 10% 10% );   background-color: #286627; */
}

@media (max-width: 992px) {
    ul{
    margin: 0!important;
    padding: 2;
    text-align: center;
    cursor: pointer;
    }
    ul .btn1{
        margin: 13px;
    }
    /* .navbar-collapse{
        height: 100vh;
        align-items: center;
        position: absolute;
        justify-content: center;
        text-align: center;
        display: flex;
        top: 0;
        left: 0;
        right: 0;
    }
    .navbar-toggler{
        z-index: 1;
    } */

    ul li:hover{
        background-color: #dc3545;
    }
    
  }