<div class="home" id="home">
    <div class="container-fluid bg-dark">
      <div class="row flex-sm-row-reverse align-items-center" >
        <div class="col-sm-5 m-0 p-0">
          <img src="assets/images/v1.png" class="img-fluid w-100" >
          </div>
    
        <div class="description1 col-sm-7 text-white">
          <p class="herosecname display-6 p-0 m-0">Hi,I am</p>
          <h1 class="name display-3">Venu Katike</h1>
          <h6 class="role display-6">FullStack .NET Developer</h6>
          <p class="">I am a Full Stack .NET Developer. Interested in working on .NET Core and Angular Stack Technology in building good looking and well performing web applications.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn1 btn px-4 me-md-2" (click)="downloadFile()">Resume/CV</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Hire Me</button>    </div>
      </div>
    </div>
    
    
    </div>
    </div>
